<div class="card-container">
  <div class="card-container" style="margin: 82px auto 32px">
    <div class="content" role="main">
      <div class="spacer"></div>
      <div class="card-container">
        <a class="card" routerLink="/parkinson">
          <span>Heart Disease</span>
          <img class="img_ic" src="../assets/icons/ic_depression.png" />
        </a>
      </div>

      <div class="spacer"></div>
      <div class="card-container">
        <a class="card" routerLink="/brain-tumor">
          <span>Brain Tumor</span>
          <img class="img_ic" src="../assets/icons/ic_stress.png" />
        </a>
      </div>
    </div>
  </div>
</div>
