<div class="card-container">
  <div class="card-container" style="margin: 82px auto 32px">
    <div class="content" role="main">
      <div class="spacer"></div>
      <div class="card-container">
        <a class="card" routerLink="/suicide-mod">
          <span>Suicide</span>
          <img class="img_ic" src="../assets/icons/ic_suicide.png" />
        </a>
      </div>

      <div class="spacer"></div>
      <div class="card-container">
        <a class="card" routerLink="/parkinson">
          <span>Depression</span>
          <img class="img_ic" src="../assets/icons/ic_depression.png" />
        </a>
      </div>

      <div class="spacer"></div>
      <div class="card-container">
        <a class="card" routerLink="/mental-health">
          <span>Stress</span>
          <img class="img_ic" src="../assets/icons/ic_stress.png" />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card-container" style="margin: 82px auto 32px">
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <select matNativeControl (change)="onChange($event)">
      <option value="none" selected></option>
      <option value="suicide">Suicide</option>
    </select>
  </mat-form-field>
</div> -->
<!-- <option value="saab" disabled>Saab</option> -->

<!-- <div class="card-container">
  <div *ngIf="selectedType == 'suicide'">
    <mat-form-field class="text-area">
      <mat-label>How are you feeling today?</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div> -->

<!-- <p>Or</p> -->

<!-- <div>
    <input
      *ngIf="selectedType == ''"
      type="file"
      class="file-upload"
      onChange="console.log(event.target.files)"
      accept="image/png, image/jpeg"
    />
  </div>
</div> -->
